<div class="sidebar">
    <nav class="mt-2" id="menu">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item has-treeview">
                <a href="~/Admin/Dashboard" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Dashboard
                    </p>
                </a>
            </li>
            <li class="nav-item has-treeview">
                <a href="~/Admin/Post/Index" class="nav-link">
                    <i class="fab fa-pinterest-square nav-icon"></i>
                    <p>
                        Bài viết
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="~/Admin/Post/Index" class="nav-link">
                            <i class="fas fa-angle-right nav-icon"></i>
                            <p>Danh sách</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Admin/Post/Create" class="nav-link">
                            <i class="fas fa-angle-right nav-icon"></i>
                            <p>Thêm mới</p>
                        </a>
                    </li>


                </ul>
            </li>

            <li class="nav-item has-treeview">
                <a href="~/Admin/Order/Index" class="nav-link">
                    <i class="fab fa-opera nav-icon"></i>
                    <p>
                        Đơn hàng
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="~/Admin/Order/Index" class="nav-link">
                            <i class="fas fa-angle-right nav-icon"></i>
                            <p>Danh sách</p>
                        </a>
                    </li>



                </ul>
            </li>
        </ul>
    </nav>
</div>